/* =================================== */
/*  Basic Style 
/* =================================== */
#logo_main
{
  height: 35%;
  width: 35%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
  font-size: 13px;
    color: #a8a8a8;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: ;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

body > section {
    padding:  0;
}

.section-title {
  margin: 0 auto 0;
  width: 420px;
}

.section-title h2 {
  color: #1f2021;
  font-size: 30px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

.section-title h2:before {
  border-bottom: 1px solid #1f2021;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: 0;
  position: absolute;
  width: 100px;
}

.section-title h2:after {
background: none repeat scroll 0 0 #fff;
border: 1px solid #1F2021;
border-radius: 25px;
bottom: -6px;
content: "";
height: 11px;
left: 50%;
margin-left: 0;
position: absolute;
width: 11px;
}

.section-title p {
    line-height: 25px;
    font-weight: 300;
    font-size: 13px;
}

.btn {
    border-radius: 0;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.btn-blue {
  background-color: #d42139;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 35px;
}

.kill-margin {
    margin: 0 !important;
}

/*************************
*******Navigation******
**************************/

#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.animated-nav .navbar-brand {
  padding: 0;
}

.animated-nav .navigation .navbar-nav > li > a {
  padding: 0;
}

#navigation > .container {
  border-bottom: 1px solid #d42139;
  background-color: #d42139;
}

.animated-nav#navigation > .container {
  border-bottom: none;
}

.navbar-brand {
  height: inherit;
  padding: 0;
}

.navbar-brand a {
  display: block;
}

.navigation .navbar-nav > li > a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 0;
  text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
  color: #d42139;
  border-bottom: 1px solid #d42139;
}

.animated-nav .navigation .navbar-nav > li.current > a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
  background-color: transparent;
}

.search-form {
  position: relative;
}

.search-form > #search {
  width: 100%;
}

.search-form > #search {
  background-color: transparent;
  height: 40px;
    border: 0 ;
  margin-top: 28px;
  width: 100%;
}

.search-form > #search-sub {
  background: url("../img/icons/search.png") no-repeat scroll 0 0 transparent;
  border: 0 ;
  bottom: 11px;
  height: 15px;
  position: absolute;
  right: 8px;
  padding: 0;
  text-indent: -9999em;
  width: 15px;
}

.animated-nav .search-form > #search-sub {
    bottom: 22px;
}
#main_title{
  margin-bottom: 50px;
  padding: 0px;
}

.navbar-brand span{
  color: #fff;
}

#navigation > .container {
  border-bottom: 1px solid #d42139;
  background-color: #d42139;
  padding: 0px 0px 0px 0px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100px;
}

#sidebar {
  background: #d75b5b;
  height: 100%;
  width: 30%;
  margin-top: 0;
  position: fixed;
}
 

#container{
  height: 100%;
  padding: 0 0 0 0;
  margin-right: 0;
  float: left;
  width: 100%;
}

#sidebar_links {
  margin-top: 200px;
}

#sidebar_links li  {
  margin-top: 28px;
  margin-left: 30%;

}

#sidebar_links li a {
  color: #fff;

}

#message_number {
  background-color: #fff;
  color: #d75b5b;
  margin-right: 40%;
}

#message_list{
  background: #fff;
  margin-left: 30%;
  width: 71.1%;
  position: absolute;
}

#table {
  margin-top: 160px;
  width: 55%;
  margin-left: 35%;
  position: absolute;
  color: #d75b5b;
}

#footer{
  margin-left: 30%;
  position: fixed;
  background-color: white;
  width: 100%;
}

#footer p {
 color: #d75b5b;
 font-size: 16px;
}

#footer a{
  color: #d42139;
}

#message{
  background: #fff;
  margin-left: 30%;
  width: 71.1%;
  position: absolute;
}

#message h5 {
  margin-top: 20px;
  color: #d75b5b;
  text-align: center;
  position: relative;
}

#message h4 {
  margin-top: 120px;
  color: #d75b5b;
  margin-left: 6%;
  position: relative;
}

#message h4 a {
  color: #d75b5b;
  
}

#message h3 {
   margin-top: 20px;
   text-align: center;
   color: #d42139;

}

#client_message {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  color: black;
}

.main_title
{
  background-color: white;
  position: fixed;
  width: 100%;
  margin-top: 100px;
  color: #d42139;
}
#message_listing_table
{
  margin-top: 140px;
}
